In [1]:
pip install gmplot

Requirement already satisfied: gmplot in c:\programdata\anaconda3\lib\site-packages (1.2.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from gmplot) (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->gmplot) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->gmplot) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->gmplot) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->gmplot) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [62]:
df=pd.read_csv(r'C:\Users\User\Desktop\place\ichoen_store_data.csv',encoding='utf-8')
df.head()

,시군명,상호명,업종명(종목명),주소,전화번호,우편번호,위도,경도,데이터기준일자
0,이천시,"""반짝반짝""창의력발전소",학원 - 기타 교육기관,경기도 이천시 부발읍 경충대로 2216-25,NaN,17327.0,37.260219,127.479824,2019-06-30
1,이천시,#180카페,일반휴게음식 - 서양음식,경기도 이천시 향교로120번길 4,031-632-7711,17362.0,37.283715,127.450597,2019-06-30
2,이천시,'정'참치,일반휴게음식 - 일식·회집,경기도 이천시 중리천로 109-1,031-635-0037,17370.0,37.277413,127.449072,2019-06-30
3,이천시,(HM)마켓25시편의점,유통업 영리 - 슈퍼마켓,NaN,031-631-8779,17364.0,37.281942,127.445016,2019-06-30
4,이천시,(로샤)스텔라,의류 - 내의판매,경기도 이천시 구만리로 42,NaN,17391.0,37.267031,127.440104,2019-06-30

In [45]:
pip install folium

Requirement already satisfied: folium in c:\programdata\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: branca>=0.3.0 in c:\programdata\anaconda3\lib\site-packages (from folium) (0.4.1)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from folium) (1.18.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from folium) (2.22.0)
Requirement already satisfied: jinja2>=2.9 in c:\programdata\anaconda3\lib\site-packages (from folium) (2.11.1)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2019.11.28)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [63]:
#필요한 정보만 추출하기
df2=df.filter(['상호명','위도','경도'])
df2

                상호명         위도          경도
0      "반짝반짝"창의력발전소  37.260219  127.479824
1            #180카페  37.283715  127.450597
2             '정'참치  37.277413  127.449072
3      (HM)마켓25시편의점  37.281942  127.445016
4           (로샤)스텔라  37.267031  127.440104
...             ...        ...         ...
10700         힘찬gym  37.295963  127.456850
10701         힘찬건강원  37.280745  127.454346
10702          힘찬장어  37.281356  127.440491
10703         힛트PC방  37.117236  127.632036
10704           힛트각  37.117244  127.632306

[10705 rows x 3 columns]

In [64]:
#문제가되는 결측치를 제거
df2_nan=df2.dropna()
df2_nan

                상호명         위도          경도
0      "반짝반짝"창의력발전소  37.260219  127.479824
1            #180카페  37.283715  127.450597
2             '정'참치  37.277413  127.449072
3      (HM)마켓25시편의점  37.281942  127.445016
4           (로샤)스텔라  37.267031  127.440104
...             ...        ...         ...
10700         힘찬gym  37.295963  127.456850
10701         힘찬건강원  37.280745  127.454346
10702          힘찬장어  37.281356  127.440491
10703         힛트PC방  37.117236  127.632036
10704           힛트각  37.117244  127.632306

[10705 rows x 3 columns]

In [65]:
import requests 
import json 
from tqdm import tqdm 
import pandas as pd
import folium 
from folium.plugins import MarkerCluster, MiniMap

map_hs = folium.Map((37.260219,127.479824), zoom_start = 13)
mc = MarkerCluster()
#행 우선 접근 방식으로 값 추출하기
names=list(df2['상호명'])
lat=list(df2['위도'])
lng=list(df2['경도'])

for i in tqdm(range(len(names))):
    mc.add_child(folium.Marker(location = [lat[i], lng[i]], popup=names[i]))
    map_hs.add_child(mc)

100%|██████████| 10705/10705 [00:00<00:00, 16797.53it/s]

In [59]:
map_hs.save("./store_data.html")

In [10]:
df2_nan.to_excel("ichoen_store.xlsx")